/* abbelimento generale */
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

*{
  font-family: 'Potta One', cursive;
  box-sizing: border-box;
}

body{
  background: rgb(173, 216, 230);
}

/* titolo */
h1{
  color: white;
  font-size: 65px;
  text-align: center;
}

section{
  height: 200px;
  margin: 1% 25%;
  padding: 12px 152px;

}

div{
  width: 150px;
  height: 175px;
  border-radius: 8px;
  background-image: url(../img/pattern.png);
  background-size: 90%;
  display: inline-block;
  position: relative;
}

#balloon{
  /* background-color: white; */
  background-image: url(../img/air-balloon.png) center;
}

img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 150px;
  visibility: hidden;
}

/* fine pagina */

footer{
  text-align: center;
}
