/* abbelimento generale */
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

*{
  font-family: 'Potta One', cursive;
  text-align: center;
  box-sizing: border-box;
}

body{
  background: rgb(173, 216, 230);
}

/* titolo */
h1{
  color: white;
  font-size: 65px;
}


/* corpo del gioco */
main{
  display: inline-block;
  width: 1300px;
  height: 1200px;
  padding: 0;
}

div{
  display: inline-block;
  width: 300px;
  height: 350px;
  background: black;
  border-radius: 15px;
  }

  /* singole carte */

main .balloon:nth-last-child(7){
  background-color: white;
}
